main {
  align-items: center;
  background-color: var(--white-app);
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}


.container-product-card {
  width: 1440px;
}

.grid-product-card {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(4, 1fr);
  margin: 50px 100px;
}

.button-cart-total {
  align-items: center;
  background-color: var(--yellow-app);
  border: solid 1px var(--black-app);
  border-radius: 10px;
  bottom: 5%;
  color: var(--black-app);
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  height: 80px;
  justify-content: space-around;
  margin: 0;
  padding: 10px 30px;
  position: fixed;
  right: 15%;
  width: 300px;
}

.span-cart-total:before {
  content: 'R$';
  margin-right: 5px;
}


@media ( max-width : 1200px ) {

  .container-product-card {
    width: 100%;
  }

  .grid-product-card {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media ( max-width : 850px ) {

  .container-product-card {
    width: 100%;
  }

  .grid-product-card {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media ( max-width : 600px ) {

  .container-product-card {
    width: 100%;
  }

  .grid-product-card {
    grid-template-columns: repeat(1, 1fr);
    margin: 50px 20px;
  }

  .button-cart-total {
    font-size: 1.5rem;
    height: 60px;
    right: 5%;
    width: 200px;
  }
}
