.title-user {
  text-align: start;
  width: 1060px;
}

.container-users-card {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;
  padding: 20px;
  position: relative;
  width: 1020px;
}

.bar-title-users-card {
  display: flex;
  font-size: 16px;
  text-align: center;
}

.index-item-users-title {
  width: 70px;
}

.name-item-users-title {
  padding-left: 10px;
  width: 310px;
}

.email-item-users-title {
  width: 350px;
}

.role-item-users-title {
  width: 180px;
}


.btn-remove-item-users-title {
  width: 110px;
}

.container-total-price {
  display: flex;
  justify-content: end;
}


/* Estilos para telas menores que 768px */

@media screen and ( max-width : 768px ) {

  .title-user {
    width: 90%;
  }

  .container-users-card {
    width: 90%;
  }

  .bar-title-users-card {
    display: none;
  }

  .user-title {
    text-align: center;
  }

  .user-card {
    margin-bottom: 20px;
  }

  .name-item-users {
    font-size: 14px;
    margin-bottom: 5px;
    width: 100%;
  }

  .email-item-users {
    font-size: 14px;
    margin-bottom: 5px;
    width: 100%;
  }

  .role-item-users {
    font-size: 14px;
    margin-bottom: 5px;
    width: 100%;
  }

  .div-btn-remove-user-card {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .btn-remove-item-users {
    font-size: 14px;
    width: 100%;
  }
}
