.main-seller-orders {
  background-color: var(--white-app);
  height: 98vh;
}

.section-seller-orders {
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  width: 80%;
}


@media screen and ( max-width : 900px ) {

  .section-seller-orders {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 10px;
    padding: 0;
    width: 95%;
  }
}
