.header-container {
  align-items: center;
  background-color: var(--black-app);
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  width: 100%;
}

.div-links-header-left {
  align-items: center;
  display: flex;
}

.logotipo-header {
  height: 80px;
  margin-right: 20px;
}

.links-header {
  color: var(--yellow-app);
  font-weight: 600;
  margin: 0 50px;
  text-decoration: none;
  text-transform: uppercase;
}

.div-links-header-right {
  align-items: center;
  display: flex;
}

.span-header {
  font-weight: 600;
  margin-right: 50px;
}

.button-header {
  background: none;
  border: none;
  cursor: pointer;
}

@media ( max-width : 768px ) {

  .header-container {
    display: flex;
    flex-direction: column;
  }

  .logotipo-header {
    height: 50px;
  }

  .div-links-header-left {
    align-items: center;
    display: flex;
  }

  .links-header {
    margin: 10px;
  }

  .button-header img {
    height: 30px;
  }

  /* .div-links-header-right {
    align-items: center;
    display: flex;
    flex-direction: column;
  } */

  .span-header {
    margin: 10px;
  }
}
