.product-card-container {
  background-color: var(--white-app);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 30px;
  margin-bottom: 20px;
  overflow: hidden;
}

.container-img-product-card {
  align-items: center;
  background-color: white;
  display: flex;
  height: 150px;
  justify-content: center;
}

.container-img-product-card img {
  max-height: 100%;
  max-width: 100%;
}

.container-infos-product-card {
  color: var(--black-app);
  padding: 20px;
}

.title-product-card {
  display: block;
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center;
}

.container-children-infos-product-card {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding: 0 5px;
}

.price-product-card {
  font-size: 1.2rem;
  font-weight: 600;
}

.price-product-card:before {
  content: 'R$';
  margin-right: 5px;
}

.button-alter-qnt {
  align-items: center;
  display: flex;
}

.button-modified-qnt {
  background-color: var(--yellow-app);
  border: none;
  color: var(--black-app);
  cursor: pointer;
  font-weight: 600;
  padding: 10px;
}

.button-down-qnt {
  border-radius: 10px 0 0 10px;
}

.button-up-qnt {
  border-radius: 0 10px 10px 0;
}

.input-qnt {
  border: none;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
  width: 30px;
}

@media screen and ( max-width : 600px ) {

  .product-card-container {
    flex-direction: column;
  }

  .container-img-product-card {
    height: 200px;
  }

  .container-infos-product-card {
    margin-bottom: 10px;
  }
}

@media screen and ( max-width : 400px ) {

  .title-product-card {
    font-size: 0.8rem;
  }

  .price-product-card {
    font-size: 1rem;
  }
}
