.div-shop-card {
  display: flex;
  font-size: 24px;
  height: 50px;
  margin: 20px 0;
  text-align: center;
}

.index-item-shop-card {
  background-color: var(--yellow-app);
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70px;
}

.name-item-shop-card {
  background-color: var(--white-app);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  text-align: left;
  width: 460px;
}

.qnt-item-shop-card {
  background-color: var(--yellow-app);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 110px;
}

.value-item-shop-card {
  align-items: center;
  background-color: var(--white-app);
  display: flex;
  justify-content: center;
  width: 110px;
}

.value-total-item-shop-card {
  align-items: center;
  background-color: var(--white-app);
  display: flex;
  justify-content: center;
  width: 110px;
}

.span-shopcard:before {
  content: 'R$';
}


.btn-remove-item-shop-card {
  align-items: center;
  background-color: var(--white-app);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 110px;
}

@media screen and ( max-width : 900px ) {

  .div-shop-card {
    border: solid 1px var(--black-app);
    border-radius: 10px;
    flex-direction: column;
    height: auto;
    margin-bottom: 50px;
  }

  .index-item-shop-card {
    border-radius: 10px 10px 0 0;
    flex-direction: row;
    margin-bottom: 10px;
    width: 100%;
  }

  .index-item-shop-card:before {
    content: 'Item: ';
    margin-right: 10px;
  }

  .name-item-shop-card {
    flex-direction: row;
    margin-bottom: 10px;
    padding-left: 0;
    width: 100%;
  }

  .name-item-shop-card:before {
    content: 'Descrição: ';
    margin-right: 10px;
  }

  .qnt-item-shop-card {
    flex-direction: row;
    margin-bottom: 10px;
    width: 100%;
  }

  .qnt-item-shop-card:before {
    content: 'Quantidade: ';
    margin-right: 10px;
  }


  .value-item-shop-card, .value-total-item-shop-card {
    flex-direction: row;
    margin-bottom: 10px;
    width: 100%;
  }

  .value-item-shop-card:before {
    content: 'Valor un: ';
    margin-right: 10px;
  }

  .value-total-item-shop-card:before {
    content: 'Valor Total: ';
    margin-right: 10px;
  }

  .btn-remove-item-shop-card {
    width: 100%;
  }
}
