.div-shop-card {
  display: flex;
  font-size: 30px;
  margin: 10px 0;
  text-align: center;
}

.index-item-shop-card {
  background-color: var(--yellow-app);
  width: 70px;
}

.name-item-shop-card {
  background-color: var(--white-app);
  text-align: left;
  width: 500px;
}

.qnt-item-shop-card {
  background-color: var(--yellow-app);
  width: 100px;
}

.value-item-shop-card {
  background-color: var(--white-app);
  width: 100px;
}

.value-total-item-shop-card {
  background-color: var(--white-app);
  width: 100px;
}

.btn-remove-item-shop-card {
  background-color: var(--white-app);
  width: 100px;
}
