.container-infos-user-card {
  display: flex;
  font-size: 24px;
  height: 50px;
  margin: 20px 0;
  text-align: center;
}

.index-user-card {
  background-color: var(--yellow-app);
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70px;
}

.name-user-card {
  background-color: var(--white-app);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  text-align: left;
  width: 300px;
}

.email-user-card {
  align-items: center;
  background-color: var(--white-app);
  display: flex;
  justify-content: center;
  text-align: center;
  width: 350px;
}

.role-user-card {
  background-color: var(--yellow-app);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 180px;
}


.btn-remove-user-card {
  align-items: center;
  background-color: var(--white-app);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 110px;
}

/* Tamanhos de tela menores que 768px */

@media only screen and ( max-width : 767px ) {

  .container-infos-user-card {
    flex-direction: column;
    height: auto;
    margin: 20px 0;
  }

  .index-user-card {
    border-radius: 10px 10px 0 0;
    width: 100%;
  }

  .name-user-card {
    padding-left: 0;
    text-align: center;
    width: 100%;
  }

  .email-user-card {
    width: 100%;
  }

  .role-user-card {
    border-radius: 0 0 10px 10px;
    width: 100%;
  }

  .btn-remove-user-card {
    background-color: white;
    width: 100%;
  }

  .span-btn-shop-card {
    background-color: white;
    border: none;
  }
}
