.container-form-users {
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 1020px;
}

.input-form-users {
  height: 30px;
  padding: 5px;
  width: 180px;
}

.select-role-users {
  height: 45px;
  padding: 10px;
  width: 180px;
}

.btn-submit-users {
  background-color: var(--yellow-app);
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  color: var(--black-app);
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  height: 45px;
  margin: 10px;
  padding: 5px;
  text-transform: uppercase;
  width: 160px;
}
