body {

  /* font-family: Roboto , Helvetica Neue , sans-serif; */
  font-family: sans-serif , Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

:root {

  --yellow-app: #ffc500;

  --black-app: #333;

  --white-app: whitesmoke;
}
